@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;  /* very thin */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(206, 207, 210, 0.641); 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;  /* invisible track */
}